$color-primary: #d60000;
$color-secondary: #ffb300;
$color-white: #ffffff;
$color-font: #121212;
$color-light: #555555;
$color-lighter: #dedede9c;
$color-grey: #949494;
$color-border: #e2e2e2;
$color-blue: #0573E6;

